<form onsubmit={{action "savePerson" model.human.id}}>
  <div>First Name: {{model.human.firstName}}</div>
  <div>
    <label for="person-last-name">Last Name:</label>
    {{input id="person-last-name"
            name="lastName"
            value=lastName
            class="person-last-name"}}
  </div>
  <div>Age: {{model.human.age}}</div>
  <button type="submit" class="person-save">Save</button>
</form>

<LinkTo @route="person-like-prisma" @model={{model}}>Show</LinkTo>
<LinkTo @route="people.index">Index</LinkTo>