<main class="person">
  <div class="person-full-name">
    <span class="person-first-name">{{model.human.firstName}}</span>
    <span class="person-last-name">{{model.human.lastName}}</span>
  </div>
  <div class="person-age">
    {{model.human.age}}
  </div>
  <div class="person-address">
    <span class="person-address-line-1">{{model.human.address.line1}}</span>
    <span class="person-address-line-2">{{model.human.address.line2}}</span>
    <span class="person-address-city">{{model.human.address.city}}</span>
    <span class="person-address-state">{{model.human.address.state}}</span>
    <span class="person-address-zip">{{model.human.address.zip}}</span>
  </div>
  <div class="person-created-at">{{model.human.createdAt}}</div>
  {{link-to "Edit" "person.edit" model}}
  {{#if model.human.pets}}
    <table class="person-pets">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.human.pets as |pet|}}
          <tr>
            <td>{{pet.type}}</td>
            <td>{{pet.name}}</td>
            <td>{{pet.age}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</main>
