<main class="customer">
  <div class="customer-name">
    {{model.customer.customerName}}
  </div>
  {{#each model.customer.orders.edges as |order|}}
    <div class="order">
      <span class="order-number">{{order.node.number}}</span>
      <br>
      <span class="order-total">${{order.node.total}}</span>
      <br>
      <table class="line-items">
        <thead>
          <tr>Name</tr>
          <tr>Quantity</tr>
        </thead>
        <tbody>
          {{#each order.node.lineItems.edges as |lineItem|}}
            <tr>
              <td>{{lineItem.node.name}}</td>
              <td>{{lineItem.node.quantity}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{/each}}
</main>
