{{#if model.people}}
  <table class="people">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Address</th>
        <th>Pet Count</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.people as |person|}}
        <tr>
          <td>{{person.firstName}}</td>
          <td class="people-last-name">{{person.lastName}}</td>
          <td>{{person.age}}</td>
          <td>
            <span class="people-address-line-1">{{person.address.line1}}</span>
            <span class="people-address-line-2">{{person.address.line2}}</span>
            <span class="people-address-city">{{person.address.city}}</span>
            <span class="people-address-state">{{person.address.state}}</span>
            <span class="people-address-zip">{{person.address.zip}}</span>
          </td>
          <td class="people-animal-count">{{person.pets.length}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
