<main class="person">
  <div class="person-full-name">
    {{model.person.firstName}} {{model.person.lastName}}
  </div>
  <div class="person-age">
    {{model.person.age}}
  </div>
  <div class="person-address">
    <span class="person-address-line-1">{{model.person.address.line1}}</span>
    <span class="person-address-line-2">{{model.person.address.line2}}</span>
    <span class="person-address-city">{{model.person.address.city}}</span>
    <span class="person-address-state">{{model.person.address.state}}</span>
    <span class="person-address-zip">{{model.person.address.zip}}</span>
  </div>
  {{#if model.person.pets}}
    <table class="person-pets">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.person.pets as |pet|}}
          <tr>
            <td>{{pet.type}}</td>
            <td>{{pet.name}}</td>
            <td>{{pet.age}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/if}}
</main>
